{% extends "base.html" %}
{% load static %}

{% block title %}{% if object %}Edit Printer{% else %}Add Printer{% endif %}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/printers/printer_form.css' %}">
{% endblock %}

{% block content %}
  <div class="form-container">
    <h2>{% if object %}Edit {{ object.name }}{% else %}New Printer{% endif %}</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn save-btn">Save</button>
      <a href="{% url 'printer-list' %}" class="btn cancel-btn">Cancel</a>
    </form>
  </div>
{% endblock %}
